* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

ul li h3 {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(114, 110, 110);
    display: flex;
    justify-content: space-between;
}

ul li h3 b:nth-child(2) {
    color: red;
}

ul li p {
    display: flex;
    justify-content: space-around;
    padding: 15px 20px;
}